<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>
<h1>Product List</h1>
<table>
    <thead>
    <tr>
        <th th:text="#{msgs.headers.index}">Index</th>
        <th th:text="#{msgs.headers.name}">Name</th>
        <th th:text="#{msgs.headers.price}">Price</th>
    </tr>
    </thead>
    <tbody>
    <!--  Iterating over Collections-->
    <tr th:each="prod, iterStat :${allProducts}">
        <td th:text="${iterStat.index}"></td>
        <td th:text="${prod.name}">Oranges</td>
        <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">0.99</td>
    </tr>
    </tbody>
</table>
</body>
</html>
